.pied-de-site {
    margin-top: var(--espace-2xl);
    padding: var(--espace-2xl) 0 var(--espace-md);
    color: var(--blanc);
    background: var(--gris-fonce);
        & a{ 
            display: block;
            padding: 5px 0px ;
                &:hover {
                    text-decoration: underline;
                }
        }
}

.pied-de-site-contenu {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: var(--espace-lg);
    margin-bottom: var(--espace-lg);
}

.pied-de-site-section h3 {
    margin-bottom: var(--espace-sm);
    font-size: var(--taille-texte-200);
    color: var(--blanc);
}

.pied-de-site-bottom {
    padding-top: var(--espace-md);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.6);
}