/* ================================ */
@media (max-width:1100px) {
    .header-top {
        justify-content: end;
    }

    .separateur,
    .header-info {
        display: none;
    }

    .grille_detail {
        grid-template-columns: 1fr 300px;
    }

    .carte-actions {
        flex-direction: column;
    }

    .sticky-header {
        z-index: 0;
        position: relative;
        padding: 40px 0 8px 0;
        background-color: transparent;
        box-shadow: none;
    }

    .header-sticky-active .nav_principale-site {
        margin-top: 0;
    }
}

/* ================================ */
@media (min-width: 768px) {
    [id=bouton-nav],
    [id=bouton-menu] {
        display: none;
    }
}

/* ================================ */
@media (max-width: 768px) {
    [id=bouton-nav],
    [id=bouton-menu] {
        z-index: 10;
        position: absolute;
        appearance: none;
        font-size: 22px;
        color: var(--blanc);
        cursor: pointer;
    }

    [id=bouton-nav] {
        top: 7px;
        right: 12px;
    }

    [id=bouton-menu] {
        top: 2px;
        left: 10px;
        font-size: 25px;
    }

    [id=bouton-nav]::after {
        content: "\f4fe";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
    }

    [id=bouton-nav]:checked::after {
        content: "\2715";
    }

    [id=bouton-menu]::after {
        content: "\2630";
    }

    [id=bouton-menu]:checked::after {
        content: "\2715";
    }

    [id=bouton-nav]:not(:checked) + .header-top,
    [id=bouton-menu]:not(:checked) + .nav-liste {
        opacity: 0;
        pointer-events: none;
    }

    .header-top,
    .nav-liste {
        z-index: 3;
        position: fixed;
        flex-direction: column;
        padding: 55px 10px;
        overflow: auto;
        background-color: var(--bleu-principale);
        inset: 0;
        transition-property: opacity;
        transition-duration: 200ms;
    }

    .nav_principale-site {
        position: absolute;
        top: 0;
        padding: 20px;
        min-width: 100%;
    }

    .nav-liste {
        flex-direction: column;
        top: 0;
    }

    .nav-lien {
        min-width: 100%;
    }

    .header-main {
        flex-direction: column;
        padding-top: 40px;
    }

    .header-top {
        justify-content: space-between;
    }

    .header-info {
        display: flex;
        flex-direction: column;
        order: 2;
        margin: 20px auto;
        padding: 10px;
        min-width: 100%;
        text-align: center;
        background-color: var(--gris-fonce);
    }

    .header-actions {
        flex-direction: column-reverse;
        align-items: stretch;
        padding: 10px;
    }

    .header-resultat {
        flex-direction: column;
        align-items: start;
        gap: var(--espace-xs);
    }

    .recherche-container {
        margin-top: 10px;
        min-width: 100%;
    }

    .grille {
        grid-template-columns: 1fr;
    }

    .grille_detail {
        grid-template-columns: 1fr;
    }

    .separateur,
    .fil-ariane {
        display: none;
    }

    .galerie-enchere {
        padding: 0;
    }

    .filtre-groupe {
        display: grid;
        min-width: 100%;
    }

    .nav_principale {
        z-index: 10;
        position: sticky;
        top: 0;
        left: 0;
    }
    .sort-options {
        justify-content: flex-end;
        min-width: 100%;
        margin-top: var(--espace-lg);
    }

    /**/
    .grille-twin{grid-template-columns: 1fr; }
    .grille-twin img{ display: none;}
    .grille-twin div{ text-align: center;}

    .grille_detail {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    
    .grille-meta {
        grid-template-columns: 1fr;
    }
    
    .zoom img {
        height: 300px;
    }

    /*page contact*/
    .grille-two {
        grid-template-columns: 1fr;
        gap: var(--espace-lg);
    }
    
    .form-contact,
    .contact-info {
        padding: var(--espace-lg);
    }
    
    .form-actions {
        justify-content: center;
    }
    
    .form-actions .btn {
        flex: 1;
        min-width: auto;
    }
    
    .faq-grid {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 480px) {
    .timbres-table-container {
        font-size: var(--taille-texte-25);
    }
    
    .timbre-name small {
        display: none;
    }
    
    .collection-stats {
        width: 100%;
        justify-content: center;
    }

    .recherche-input{
        padding: var(--espace-xs);
    }
}

/* Responsive */
@media (max-width: 768px) {
    .container {
        padding: var(--espace-sm);
    }
    
    .form-control {
        padding: var(--espace-lg);
    }

    .profil_informations {
        flex-direction: column;
        gap: 2px;
    }
    
    .profil_informations span {
        min-width: auto;
        margin-right: 0;
    }
    
    .form__GroupBtn {
        flex-direction: column;
        align-items: stretch;
    }
    
    .section-header {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .timbres-table th,
    .timbres-table td {
        padding: var(--espace-xs);
        font-size: var(--taille-texte-50);
    }
    
    .thumb-img,
    .thumb-placeholder {
        width: 40px;
        height: 40px;
    }
    
    .action-buttons {
        flex-direction: column;
        gap: 2px;
    }
    
    .action-btn {
        width: 28px;
        height: 28px;
    }
}